services:
  hugo:
    image: hugomods/hugo:ci-0.151.2
    entrypoint: sh -c "chmod +x docker_entrypoint.sh && ./docker_entrypoint.sh"
    command: server
    volumes:
      - ".:/src"
    ports:
      - "1313:1313"
