@import "keyframes";

.clearfix {
    clear: both;
}

/* United design definition - no specific colors/backgrounds! */
body {
    // Background effect
    animation-name: bg-pos;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

    .page {
        max-width: 1000px;
    }

    .header-wrapper, .header-container {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 2px);
            z-index: -100;
            background-size: 400% 100%;
            animation-name: bg-pos;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }

    #mask {
        z-index: inherit;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // Home page tweaks
    .home {
        .home-profile {
            .home-avatar img {
                width: 9rem;
            }

            .links {
                font-size: 2rem;
            }
        }
    }

    // Link animation
    a {
        transition: color .2s;
    }


    .page .project-cat-desc {
        font-size: 1.25rem;
        font-weight: normal;
        font-style: italic;
        display: block;
        margin-bottom: 1rem;
    }

    // Project cards
    .project-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        align-items: stretch;
        margin-bottom: 2.5rem;
    }

    .card {
        position: relative;
        margin: 1px;
        border-left: .25rem solid;
        z-index: 0;
        .card-content {
            padding: .5rem .5rem;
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            line-height: 1.25;
            padding: 0 .5rem;
            min-height: 6rem;

            .project-time {
                flex-shrink: 0;
                margin-left: .25rem;
                text-align: right;
            }
        }

        .project-links {
            display: flex;
            justify-content: end;
        }

        &::before {
            border-radius: inherit;
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            opacity: 0;
            transition: opacity 500ms;
            pointer-events: none;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}

@import "modes";
