@keyframes bg-pos {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes bg-light {
    0% {
        background: linear-gradient(135deg, rgba(202, 202, 202, 1) 0%, rgba(219, 219, 219, 1) 25%, rgba(229, 229, 229, 1) 50%, rgba(224, 224, 224, 1) 75%, rgba(255, 255, 255, 1) 100%);
    }

    50% {
        background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 25%, rgba(238, 238, 238, 1) 50%, rgba(220, 220, 220, 1) 75%, rgba(245, 245, 245, 1) 100%);
    }

    100% {
        background: linear-gradient(135deg, rgba(242, 242, 242, 1) 0%, rgba(238, 238, 238, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(211, 211, 211, 1) 75%, rgba(225, 225, 225, 1) 100%);
    }
}