$global-background-color: #fff !default;
$global-background-color-dark: #292a2d !default;

$gradient-light:
    $global-background-color, lighten($global-link-color, 60%),
    $global-background-color;
$gradient-dark:
    $global-background-color-dark, darken($global-link-color-dark, 40%),
    $global-background-color-dark;

/* Light mode definition */
body[theme="light"] {
    // Background effect
    background: linear-gradient(60deg, $gradient-light);
    background-size: 600% 100%;

    .header-wrapper,
    .header-container {
        background-color: $global-background-color;
        &::before {
            background: linear-gradient(90deg, $gradient-light);
            background-size: 800% 100%;
        }
    }

    #mask {
        background: url("../images/background-light.svg");
    }

    #mask::after {
        $bg-dark-alpha: 0.75;
        background: linear-gradient(
            120deg,
            rgba($global-background-color, 0.1) 0%,
            rgba($global-background-color, 0.1) 10%,
            $global-background-color 30%,
            $global-background-color 70%,
            rgba($global-background-color, 0.1) 90%,
            rgba($global-background-color, 0.1) 100%
        );
    }

    .menu .menu-item::after {
        background: linear-gradient(
            90deg,
            rgba($global-link-hover-color-dark, 0.25),
            $global-link-hover-color-dark,
            rgba($global-link-hover-color-dark, 0.25)
        );
    }

    .card {
        background-color: rgba($global-background-color, 0.5);
        border-left-color: $global-link-hover-color;

        .card-header {
            background-color: rgba($global-link-hover-color, 0.2);
        }

        &::before {
            background: radial-gradient(
                900px circle at var(--mouse-x) var(--mouse-y),
                rgba($global-link-hover-color, 0.1),
                transparent 50%
            );
        }
    }
}

/* Dark mode definition */
body[theme="dark"] {
    // Background effect
    background: linear-gradient(60deg, $gradient-dark);
    background-size: 600% 100%;

    .header-wrapper,
    .header-container {
        background-color: $global-background-color-dark;
        &::before {
            background: linear-gradient(90deg, $gradient-dark);
            background-size: 800% 100%;
        }
    }

    #mask {
        background: url("../images/background-dark.svg");
    }

    #mask::after {
        $bg-dark-alpha: 0.75;
        background: linear-gradient(
            120deg,
            rgba($global-background-color-dark, $bg-dark-alpha) 0%,
            rgba($global-background-color-dark, $bg-dark-alpha) 10%,
            $global-background-color-dark 30%,
            $global-background-color-dark 70%,
            rgba($global-background-color-dark, $bg-dark-alpha) 90%,
            rgba($global-background-color-dark, $bg-dark-alpha) 100%
        );
    }

    .menu .menu-item::after {
        background: linear-gradient(
            90deg,
            rgba($global-link-hover-color-dark, 0.25),
            $global-link-hover-color-dark,
            rgba($global-link-hover-color-dark, 0.25)
        );
    }

    .card {
        background-color: rgba($global-background-color-dark, 0.5);
        border-left-color: $global-link-hover-color-dark;

        .card-header {
            background-color: rgba($global-link-hover-color-dark, 0.2);
        }

        &::before {
            background: radial-gradient(
                600px circle at var(--mouse-x) var(--mouse-y),
                rgba($global-background-color, 0.05),
                transparent 50%
            );
        }
    }
}
